html, body{
    height: 100%; 
    width: 100%;
    /* background-color: black; */
}

.main_box{
    height:70%;
    width: 50%;
    background-color: rgb(65, 252, 252);
}
.box1{
    height: 50%;
    width: 40%;
    /* border: 5px  rgb(231, 23, 23); */
    background-color: khaki;
    font-size: 20px;

}
h1{
    color:brown;
}


@media (max-width : 600px) {
    .box1{
        background-color: bisque;
    }
}
