html, body{
    height: 100%; 
    width: 100%;
    /* background-color: black; */
}

.main{
    height:100%;
    width: 100%;
    /* background-color: rgb(65, 252, 252); */
    position: relative; /*it lets stabilize children elements inside a parent container*/
}
.nav{
    height: 100px;
    width : 100%;
    background-color: rgb(58, 44, 26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
} 

.nav-part2{
    display: flex;
    background-color: azure;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;

}


@media (max-width : 600px) {
    .box1{
        background-color: bisque;
    }
}
