*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%; 
    width: 100%;
    /* background-color: black; */
}

.main{
    height:100%;
    width: 100%;
    /* background-color: rgb(65, 252, 252); */
    position: relative; /*it lets stabilize children elements inside a parent container*/
}
.nav{
    height: 100px;
    width : 100%;
    /* background-color: rgb(241, 213, 177); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
} 
.nav h2{
    font-size: 2vw;
    font-weight: 700;
}
.nav h4{
    font-size: 1.5vw;
}
.nav i{
    font-size: 1.5vw;
    font-weight: bold;
    display : none;
}
.nav-part2{
    display: flex;
    /* background-color: azure; */
    justify-content: space-between;
    align-items: center;
    gap: 4vw;

}

.content{
    /* height: 80%; */
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    position: relative;
}

.left{
    height:100%;
    width: 50%;
    background-color: brown;
}

.right{
    height: 100%;
    width:50%;
    background-color: rgb(186, 97, 97);
}


@media (max-width : 600px) {
    .nav{
        height:60px;
        background-color:lightseagreen;
        color: #ffffff;
        padding: 0 5vw;
    }

    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 6vw
    }
}
